.chat {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'canada-type-gibson';
  font-weight: 400;
  overflow: hidden;
  background: $chat-bg;
  justify-content: flex-end;

  &-edit {
    display: none;
  }

  &-change_answer {
    display: none;
  }

  &-loading {
    margin: 0 -$chat-loading-dot-space;
    display: flex;
    position: relative;
    z-index: 2;

    &-dot {
      width: $chat-loading-dot-size;
      height: $chat-loading-dot-size;
      border-radius: 50%;
      background: $chat-loading-dot-color;
      margin: 0 $chat-loading-dot-space;
    }
  }

  &-window {
    padding-top: 26px;

    &-wrap {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position, contents;
    }

    &-inner {
      width: 720px;
      max-width: 100%;
      margin: 0 auto;
    }

    > div {
      &:last-of-type {
        overflow: hidden !important;
      }
    }

    &--mobile {
      width: 375px;
      height: 610px;
      border: 1px solid $c-lightblue;
    }
  }

  &-footer {
    &-msg {
      background: $chat-footer-msg-background;
      border-top: 1px solid $chat-footer-msg-border-color;
      padding: $chat-footer-msg-padding-vertical $chat-footer-msg-padding-horizontal;

      &-textfield {
        @include ctf-style;
        @include ctf-size;

        &:empty:before {
          content: attr(placeholder);
          display: block;
        }
      }

      &-actions {
        text-align: right;

        button {
          margin-left: $chat-footer-msg-padding-horizontal;
        }
      }
    }
  }

  &-msg {
    display: flex;
    overflow: hidden;
    padding-left: $chat-padding-left;
    padding-right: $chat-padding-right;
    position: relative;

    &-date {
      text-align: center;
    }

    &-timestamp {
      position: absolute;
      width: 60px;
      right: -60px;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: .3s opacity, .3s visibility;

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        left: -60px;
        right: auto;
        text-align: left;
      }
    }

    &-edit {
      background: $chat-text-color;
      border: 1px solid $chat-bubble-bg;
      color: $chat-bubble-bg;
      border-radius: 50%;
      width: $chat-message-edit-size;
      height: $chat-message-edit-size;
      position: absolute;
      bottom: 0;
      left: -($chat-message-edit-size/2);
      font-size: $chat-message-edit-font-size;
      z-index: 3;
      display: none;

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        display: block;
      }

      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        background: $chat-answer-text-color;
        border: 1px solid $chat-answer-bubble-bg;
        color: $chat-answer-bubble-bg;
      }
    }

    &--answer {
      justify-content: flex-end;
    }

    &--thread_status {
      display: block;
      margin: 1em calc(#{$chat-padding-right} + #{$chat-avatar-spacing});

      .thread_status-outher {
        position: relative;
        text-align: center;

        &:after {
          content: '';
          height: 1px;
          background-color: $chat-message-thread-line-color;
          position: absolute;
          bottom: 50%;
          right: 0;
          left: 0;
        }

        .thread_status-inner {
          display: inline-block;
          padding: 0 0.5em;
          background-color: $chat-bg;
          position: relative;
          z-index: 1;
          color: $chat-thread-status-text-color;
        }
      }
    }

    &-user {
      margin-right: calc(#{$chat-avatar-spacing} - 4px);
      overflow: hidden;
      align-self: flex-end;
      order: 1;
      flex-shrink: 0;

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        order: 2;
        margin-right: 0;
        margin-left: $chat-avatar-spacing;
      }
    }

    &-avatar {
      width: $chat-avatar-size;
      height: $chat-avatar-size;
      border: 1px solid $chat-avatar-border-color;
      background: $chat-avatar-background;
      border-radius: 50%;
      position: relative;
      overflow: hidden;

      &-link {
        align-self: flex-end;
        order: 1;
        flex-shrink: 0;

        .chat-msg--answer &,
        .static_chat-msg--answer & {
          order: 2;
        }
      }

      &-letter {
        color: $chat-avatar-letter-color;
        font-size: $chat-avatar-letter-font-size;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-thumb {
        width: $chat-avatar-size;
        height: $chat-avatar-size;
        background: center no-repeat;
        background-size: cover;
      }
    }

    &-media {
      align-self: flex-start;
      position: relative;

      &-thumb {
        border-top-left-radius: $chat-bubble-radius;
        border-top-right-radius: $chat-bubble-radius;
        overflow: hidden;
        width: $chat-media-width;
        height: $chat-media-image-height;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: $chat-bubble-spacing;

        @media (max-width: $screen-small) {
          width: $chat-media-width-mobile;
          height: $chat-media-image-height-mobile;
        }

        &-img {
          display: block;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
        }
      }

      &-bubble {
        position: relative;
        padding: $chat-media-padding-vertical $chat-media-padding-horizontal;
        text-align: left;
        width: $chat-media-width;

        &:hover .chat-msg-timestamp {
          opacity: 1;
          visibility: visible;
        }

        @media (max-width: $screen-small) {
          width: $chat-media-width-mobile;
        }

        .chat-msg--answer &,
        .chat-msg--10_pharmacy_technician &,
        .chat-msg--11_pharmacist &,
        .chat-msg--20_doctor &,
        .chat-msg--90_admin & {
          text-align: right;
        }

        &-bg {
          background: $chat-bubble-bg;
          border-bottom-right-radius: $chat-bubble-radius;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          z-index: 1;

          .chat-msg--answer &,
          .chat-msg--10_pharmacy_technician &,
          .chat-msg--11_pharmacist &,
          .chat-msg--20_doctor &,
          .chat-msg--90_admin & {
            background: $chat-answer-bubble-bg;
            border-bottom-left-radius: $chat-bubble-radius;
            border-bottom-right-radius: 0;
          }
        }
      }

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        align-self: flex-end;
      }
    }

    &-bubble {
      &:hover + .chat-msg-timestamp {
        opacity: 1;
        visibility: visible;
      }

      &-outer_wrap {
        display: flex;
        flex-direction: column;

        + .chat-msg-bubble-outer_wrap {
          .chat-msg-bubble-bg {
            border-top-left-radius: 0;
          }

          .chat-msg--answer &,
          .chat-msg--10_pharmacy_technician &,
          .chat-msg--11_pharmacist &,
          .chat-msg--20_doctor &,
          .chat-msg--90_admin & {
            .chat-msg-bubble-bg {
              border-top-left-radius: $chat-bubble-radius;
              border-top-right-radius: 0;
            }
          }
        }
      }

      &-wrap {
        align-self: flex-start;
        max-width: $chat-bubble-max-width;
        min-width: $chat-bubble-min-width;
        position: relative;

        @media (max-width: $screen-small) {
          max-width: $chat-bubble-max-width-mobile;
        }
      }

      &-inner {
        padding: $chat-bubble-padding;
        position: relative;
      }

      &-bg {
        background: $chat-bubble-bg;
        border-radius: $chat-bubble-radius;
        border-bottom-left-radius: 0;
        position: absolute;
        left: 0;
        top: $chat-bubble-spacing;
        bottom: 0;
        right: 0;
        z-index: 1;
      }

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        &-wrap {
          align-self: flex-end;
        }

        .chat-msg-bubble-bg {
          background: $chat-answer-bubble-bg;
          border-bottom-left-radius: $chat-bubble-radius;
          border-bottom-right-radius: 0;
        }
      }
    }

    &-main {
      order: 2;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        order: 1;
      }

      .chat-msg-bubble {
        &-inner {
          padding-top: calc(#{$chat-bubble-padding} + #{$chat-bubble-spacing});
        }
      }

      .chat-msg-media {
        &:first-child {
          padding-top: 0;
        }
      }
    }

    &-text {
      font-size: $chat-text-font-size;
      color: $chat-text-color;
      line-height: $chat-text-line-height;
      letter-spacing: 1px;
      position: relative;
      z-index: 2;

      .chat-msg--answer &,
      .chat-msg--10_pharmacy_technician &,
      .chat-msg--11_pharmacist &,
      .chat-msg--20_doctor &,
      .chat-msg--90_admin & {
        color: $chat-answer-text-color;
      }
    }
  }
}
