@mixin ctf-style {
  color: $chat-textfield-text-color;
  background: $chat-textfield-background;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

@mixin ctf-size {
  font-size: $chat-textfield-font-size;
  line-height: $chat-textfield-line-height;
  padding: $tf-padding-vertical $chat-textfield-padding-horizontal;
  display: block;
  width: 100%;
  overflow: auto;
  max-height: 91px;

  @media (min-width: $screen-large) {
    max-height: 276px;
  }
}
